<a href="https://colab.research.google.com/github/mrCarterData/Python_codes/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("My name is, Randy.")

In [ ]:
print(2+2)

4

In [ ]:
print("I am new to python!")

I am new to python!

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
#this is how we create a single line comment
print("It works like this.")

It works like this.

In [ ]:
"""This is the beginiing.
This is how we create multi line comments"""
print("It works like this.")

It works like this.

In [ ]:
#It is possible to write within my code blocks without python using #
print("I am learning python.")

I am learning python.

In [ ]:
"""Variable names always starts with a lower case letter or an underscore.
Only underscores are allowed as special characters.
Valriable names can not start with a number but numbers can be part of variables.
"""

In [ ]:
x=5
print(x)

5

In [ ]:
age=30
print(age)

30

In [ ]:
name = input("name")
print("My name is", name)

nameBob
My name is Bob

In [ ]:
name=input("name")
age=input("age")
print("Hey", name, "I am glad that you started learning python at the", age)

nameRandy
age30
Hey Randy I am glad that you started learning python at the 30

In [ ]:
x=5
type(x)

int

In [ ]:
b=5.25
type(b)

float

In [ ]:
v="cat"
type(v)

str

In [ ]:
x="12"
type(x)

str

In [ ]:
discount=43.8
type(discount)

float

In [ ]:
height=143
type(height)

int

In [ ]:
address='#301, Pelican Street'
type(address)

str

In [ ]:
grocery=["apple","banana","vegetables"]
print(grocery)
print(len(grocery))
type(grocery)

['apple', 'banana', 'vegetables']
3

list

In [ ]:
cars=('ford','chevrolet','cadilac','mercedez')
print(cars)
print(len(cars))
type(cars)

('ford', 'chevrolet', 'cadilac', 'mercedez')
4

tuple

In [ ]:
my_favs=['blue','steak','atlanta']
print(my_favs)

['blue', 'steak', 'atlanta']

In [ ]:
range_example=range(0,10)
print(len(range_example))
print(range_example)
type(range_example)

10
range(0, 10)

range

In [ ]:
range_example_1=range(0,20,2)
print(len(range_example_1))
print(range)
type(range_example_1)

10
<class 'range'>

range

In [ ]:
range_excercise=range(4,40)
print(len(range_excercise))

36

Mapping Type(Dictionary)

In [ ]:
d={"Name":"Randy","Age":24,"Weight":100}
print(d)
print(len(d))
print(type(d))

{'Name': 'Randy', 'Age': 24, 'Weight': 100}
3
<class 'dict'>

In [ ]:
y={'Model':'Chevrolet','Make':'Corvette','Year':2024}
print(y)
print(len(y))
print(type(y))

{'Model': 'Chevrolet', 'Make': 'Corvette', 'Year': 2024}
3
<class 'dict'>

In [ ]:
b={'Jake':70,'Mako':75,'Alex':78.5}
print(b)
print(len(b))
print(type(b))

{'Jake': 70, 'Mako': 75, 'Alex': 78.5}
3
<class 'dict'>

Boolean Type

In [ ]:
print(5>2)
print(type(5>2))

True
<class 'bool'>

In [ ]:
print(3>7)
print(type(3>7))

False
<class 'bool'>

In [ ]:
t=8
r=9
print(t<r)
type(t<r)

True

bool

In [ ]:
n=100
w=25
print(w>n)
print(type(w>n))

False
<class 'bool'>

In [ ]:
g={2,56,35,56,2,9.5,13}
print(g)
print(type(g))
print(len(g))

{2, 35, 56, 9.5, 13}
<class 'set'>
5

In [ ]:
t={"kiki","hihi","hey","kiki","hey"}
print(t)
print(len(t))

{'hihi', 'kiki', 'hey'}
3

In [ ]:
H={"bob","tod",8,0,1,3,"Jack"}
print(H)
print(len(H))
print(type(H))

{0, 1, 3, 8, 'bob', 'Jack', 'tod'}
7
<class 'set'>

OPERATORS

Numerical Operators

In [ ]:
p=10
v=4
print(p+v)
print(p-v)
print(p*v)
print(10/4)
print(10//4)
print(p%v)
print(p**5)
print(abs(p/v))
print(abs(v-p))

14
6
40
2.5
2
2
100000
2.5
6

In [ ]:
print(abs(-5))
print(abs(-3.44))
print(round(4.46))
print(round(5.51))
print(round(6.5))
print(bin(56))

5
3.44
4
6
6
0b111000

Exercise 9

In [ ]:
pi=3.14
radius=float(input("Enter the radius: "))
area=pi*radius**2
print(area)
print(type(area))

Enter the radius: 5.5
94.985
<class 'float'>

Comparison Operators

In [ ]:
i=3
j=6
print(i>j)
print(i<=j)
print(j==i)
print(i!=j)

False
True
False
True

Exercise 10

In [ ]:
pi=3.14
radius=float(input("Enter the radius: "))
area=pi*radius**2
print(area)
print(area > 50)

Enter the radius: 3
28.26
False

Logic Operators

In [ ]:
a=5
b=4
c=3
d=9
e=False
print(a>b and c>d)
print(a>b or c>d)
print(not e)

False
True
True

Exercise 11

In [ ]:
pi=3.14
radius=float(input("Enter the radius: "))
area=pi*radius**2
print(area)
print(area > 20 and area < 50)

Enter the radius: 3.4
36.2984
True

Assignment Operator

In [ ]:
w=45
w+=3
print(w)

45

In [ ]:
w=45
print(w)
w*=3
#w=w*3
print(w)

45
135

In [ ]:
w=45
w//=6
print(w)

7

Identity Operators

In [ ]:
#to ckeck if 2 objects are equal or not
x = ["apple", "banana"]
y = ["apple", "banana"]

z = x

# 'is' test 
print(x is z)

# 'is' test 
print(x is y)

# equality test
print(x == y)

# 'is not' test
print(x is not y)

True
False
True
True

In [ ]:
my_list = [12, 34.5, 'Carter', True]
print(my_list)
my_list[3] = False
print(my_list)

[12, 34.5, 'Carter', True]
[12, 34.5, 'Carter', False]

In [ ]:
name = 'Carter'
name = 'Cazter'
print(name)

Cazter

In [ ]:
First_Name = 'Randy'
Last_Name = 'Carter'
print(First_Name)
print(Last_Name)

Randy
Carter

In [ ]:
my_str = 'ABCDEF'   #Start:Stop:Step
new_str = my_str[1:5:3]
print(new_str)

BE

In [ ]:
s = 'hello'
d = 'y' + s[1:len(s)] + 'w'
print(d)

yellow

In [ ]:
f_name = 'Randy'
l_name = 'Carter'
print(f_name + ' ' + l_name)

Randy Carter

In [ ]:
print('Randy' * 6)

RandyRandyRandyRandyRandyRandy

In [ ]:
name = 'Carter'
print(name[-5])

a

In [ ]:
x = 'This is one sentence!'
# print(x[8])
# print(x[-13])
print(x[8:11])

one

In [ ]:
Grocery_List = ['banana','milk']
print(Grocery_List)
# print(Grocery_List[0])
Grocery_List.append('almond')
print(Grocery_List)

['banana', 'milk']
['banana', 'milk', 'almond']

In [ ]:
my_list = [
    [1,2,3],
    ['Randy', 'Carter'],
    [True, False],
    [12.6, [12,14,19], 3.5]
]

#Common Question In Coding Interviews - Nested Dictionaries Within Nested Lists
print(my_list[3][1][2])
my_list[3][1][2] = 25  #changed 19 to 25
print(my_list)

19
[[1, 2, 3], ['Randy', 'Carter'], [True, False], [12.6, [12, 14, 25], 3.5]]

In [ ]:
my_favs = [
    ['lions' , 'killer whales' , 'pandas'] ,
    ['blue' , 'black' , 'red'] ,
    ['Kendrick' , '50' , 'Fredo']
]
print(my_favs)

[['lions', 'killer whales', 'pandas'], ['blue', 'black', 'red'], ['Kendrick', '50', 'Fredo']]

In [ ]:
l = [1,2,3,4,5]
print(l)
l.append('Carter')
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'Carter']

In [ ]:
l = [1,2,3,4,5]
print(l)
l.extend([7,8,9])
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7, 8, 9]

In [ ]:
l = [1,2,3,4,5]
print(l)
l.insert(4, 'Carter')
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 'Carter', 5]

In [ ]:
l = [1,2,3,4,5]
print(l)
l.pop(3)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [ ]:
l = [1,2,3,4,5]
print(l[1:4])

[2, 3, 4]

In [ ]:
l = [1,2,3,4,5]
l.reverse()
print(l)

[5, 4, 3, 2, 1]

In [ ]:
l = [1,2,3,4,5]
print(len(l))

5

In [ ]:
l = [1,2,3,4,5]
print(min(l))
print(max(l))

1
5

In [ ]:
l = [1,2,3,4,5,3,7,8,3,9,3]
print(l.count(3))

4

In [ ]:
l1 = [1,2,3,4,5]
l2 = [7,8,9,10,12]
print(l1 + l2)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 12]

In [ ]:
l = [1,2,3,4,5]
print(l * 3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
l = [1,2,3,4,5]
print(l.index(4))

3

In [ ]:
new_list = [4, 2, 6, 5, 0, 1]
print(new_list)
new_list.sort()
print(new_list)

[4, 2, 6, 5, 0, 1]
[0, 1, 2, 4, 5, 6]

In [ ]:
new_list = [4, 2, 6, 5, 0, 1]
new_list.sort()
new_list.reverse()
print(new_list)

[6, 5, 4, 2, 1, 0]

In [ ]:
new_list = [4, 2, 6, 5, 0, 1]
new_list1 = sorted(new_list)
print(new_list)
print(new_list1)

[4, 2, 6, 5, 0, 1]
[0, 1, 2, 4, 5, 6]

In [ ]:
l= [1,2,3,4,5]
l.clear()
print(l)

[]

In [ ]:
my_var = 1,2,3,4,5
type(my_var)
my_var1 = list(my_var)
print(my_var1)
type(my_var1)

[1, 2, 3, 4, 5]

list

In [ ]:
my_var = 1,2,3,4,5
my_var[3] = 10
print(my_var)

TypeError: ignored

In [ ]:
my_var = 1,2,3,4,5
print(my_var *4)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
new_tuple = 8,12,7,10,52,33,21,99
print(max(new_tuple))
print(min(new_tuple))

99
7

In [ ]:
new_tuple = 8,12,7,10,52,33,21,99
print(new_tuple)
del(new_tuple)
print(new_tuple)

(8, 12, 7, 10, 52, 33, 21, 99)

NameError: ignored

In [ ]:
my_var = 12
print(my_var)
new_var = float(my_var)
print(new_var)

12
12.0

In [ ]:
my_var = 98.45
print(my_var)
new_var = int(my_var)
print(new_var)

98.45
98

In [ ]:
my_var = '12'
print(my_var)
new_var = int(my_var)
print(new_var)

12
12

In [ ]:
my_var = 12
print(my_var)
new_var = str(my_var)
print(new_var)

12
12

In [ ]:
my_var = '12'
print(my_var)
new_var = float(my_var)
print(new_var)

12
12.0

In [ ]:
my_var = 98.67
print(my_var)
new_var = str(my_var)
print(new_var)

98.67
98.67

In [ ]:
my_list = [1,2, 'Carter', True, 12.6, 2, 'Carter', True]
my_set = set(my_list)
print(my_set)
type(my_set)

{1, 2, 'Carter', 12.6}

set

In [ ]:
x = 7
x1 = str(x)
print(x1)
type(x1)

7

str

In [ ]:
discount = "3.77"
new_discount = float(discount)
print(new_discount)
type(new_discount)

3.77

float

In [ ]:
grocery_tuple = 'egg' , 'milk' , 'mango'
print(grocery_tuple)
type(grocery_tuple)

('egg', 'milk', 'mango')

tuple

In [ ]:
grocery_tuple = 'egg' , 'milk' , 'mango'
print(grocery_tuple)
grocery_list = list(grocery_tuple)
print(grocery_list)
type(grocery_list)

('egg', 'milk', 'mango')
['egg', 'milk', 'mango']

list

Flow Control

In [ ]:
x = 26

if x<10:
  print ("x is less than 10")

elif x<20:
  print("x is greater than 10")

else:
  print("x is greater than range")

x is greater than range

In [ ]:
b = int(input('Enter A Number'))
if b%2 == 0:
  print("This Number Is Even")
elif b%2 != 0:
  print("This Number Is Odd")
else:
  print("This Is Not A Valid Number")

Enter A Number92
This Number Is Even

In [ ]:
is_single = []
message = 'You can date.' if is_single else 'You cannot date.'
print(message)

You cannot date.

In [ ]:
number = int(input("Enter a number"))
checker = 'This is an even number' if number %2 == 0 else "This is an odd number"
print(checker)

Enter a number54
This is an even number

While Loops

In [ ]:
x = 0
while x <= 10:
  print(x)
  x += 1

else:
  print('The number is no longer less than or equal to 10')

0
1
2
3
4
5
6
7
8
9
10
The number is no longer less than or equal to 10

In [ ]:
x = 4
while x <=100:
  print(x)
  x += 1

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
string = 'Randy Carter'
for i in string:
  print(i)

R
a
n
d
y
C
a
r
t
e
r

In [ ]:
my_list = [12, 34.6, "Carter", True]
for i in my_list:
  print(i)

12
34.6
Carter
True

In [ ]:
my_tuple = (12, 34.6, "Carter", True)
for i in my_tuple:
  print(i)

12
34.6
Carter
True

In [ ]:
my_set = {1,2,3,4,5}
for i in my_set:
  print(i)

1
2
3
4
5

In [ ]:
my_dict = {
    'ABC': 123,
    'DEF': 456,
    'GHI': 789
}
for i in my_dict.items():
  print(i)

('ABC', 123)
('DEF', 456)
('GHI', 789)

In [ ]:
powers = [num+10 for num in range(10)] # a for loop defined with list comprehension
print(powers)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
for i in range(0,5):
  for j in range(0, i+1):
    print('*', end='')

***************

In [ ]:
try:
  print(x_well)
except:
  print('An error has occured')
finally:
  print('Our try and catch has ended')

An error has occured
Our try and catch has ended

In [ ]:
try:
  x = kj
  print(x)
except:
  print('An error has occured')
finally:
  print('try and catch has ended')

An error has occured
try and catch has ended

In [ ]:
#raise creates a custom error.
x = 17
if x < 18:
  raise Exception("You are not old enough!")

Exception: ignored

In [ ]:
x = "Randy B. Carter Jr."
if x != "Randy S. Carter Jr.":
  raise Exception('You are not authorised to accept this package!')

Exception: ignored

In [ ]:
x = 5
if type(x) is not int:
  raise Exception("This is not a valid entry!")

Funtions

In [ ]:
# make a reusable code block
def addition(a,b):
  return a + b
addition(3,9)

12

In [ ]:
def area_of_circle(r):
  return 3.14*r**2
area_of_circle(2.6)

21.2264

In [ ]:
#checks if a number is even or not
def num(a):
  return a%2 == 0
num(45)

False

In [ ]:
#excercise 6
def si(P,r,t):
  return P*(1 + r*t)
si(185000,0.0625,180)

2266250.0

For Practivce later create a fuction for compund interest

Scope

In [ ]:
#Local Scope
def newfunction():
  C = 30
  print(C)
newfunction()

30

In [ ]:
#Global Scope
#What is inside of a function is not accesible outside of a functon but what is outside of a function is accesible from in or out of the function
x = 25
def samefunction():
  print(x)
samefunction()

25

In [ ]:
def best_function():
  global one_function
  one_function = 360
  print(one_function)
best_function()
print(one_function)

360
360

Lambda Function

In [ ]:
x = lambda a,r : a + r
print(x(3,7))

10

In [ ]:
#Lambda can only make one function in a particular program
x = lambda num1 , v , num2 : num1 + v + num2
print(x(3,8,2.5))

13.5